<div class="timer-body">
    <div style='margin-bottom:3px;'> <button id='fast-button'>Click Turbo Clock</button></div>
    <br>
    <div class='clock-ticker'> You've been on this page for:<br><span id='time'></span></div>
    <div class='jail-sentence' style='display:inline-block;'> A call from a Kentucky prison<br>
    </span> for this time would cost:
    </div>
    <div class='cost-ticker'> <span id='dollar-sign'>$</span><span id='cost'></span> via <span id='provider'></span></div>
    <br>
    <div style="font-family: inherit;font-size:10px;text-align:left;padding-left:20px;">Data: Federal Communications Commission<br>
    <br>
    Credit: Suhail Bhat / KyCIR
    </div>

<script src="scripts/timer_new.js"></script>
</div>


